/*General*/
* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background: linear-gradient(#ceefd3, #2a9489);
}

li {
  list-style: none;
}

img {
  border-radius: 8px;
}

/*Navbar*/
.navbar {
  background-color: rgb(3, 118, 110);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .link {
  color: antiquewhite;
  padding: 0 2rem;
  text-decoration: none;
}

.navbar .link:hover {
  color: blue;
}

#homepage {
  height: 100vh;
  text-align: center;
}

#homepage h1 {
  margin-top: 50px;
}

#homepage img {
  margin-top: 20px;
}

/*All Students div*/
#all-students {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
  height: 100%;
}

/*List of students*/
#students-list {
  width: 700px;
  margin-right: 40px;
  margin-top: 20px;
}
#students-list img {
  border-radius: 50%;
  margin-top: 15px;
}
#students-list link {
  margin-top: 15px;
}
#students-list li {
  border-radius: 25px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
}

/*Div conatining x button and remove student text*/
#remove-student {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  width: 200px;
  height: 50px;
}

#remove-student button {
  height: 22px;
  margin-top: 20px;
  margin-right: 50px;
}
#remove-student h4 {
  margin-top: 20px;
}

/*Div containing add student form*/
#add-student {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 100px;
  margin-right: 80px;
  background-color: rgb(18, 200, 149);
  padding: 30px;
  height: fit-content;
  border-radius: 8px;
}

#add-student-form {
  display: flex;
  flex-direction: column;
}

#add-student-form input {
  margin-bottom: 10px;
}

#add-student h2 {
  margin-bottom: 20px;
}

.home-link {
  align-self: flex-end;
}

/*Single Student page*/
#single-student {
  height: 100vh;
  margin-left: 90px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#single-student img {
  border-radius: 50%;
  margin-top: 15px;
}

/*update student form*/
#update-student {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: rgb(18, 200, 149);
  padding: 30px;
  height: fit-content;
  border-radius: 8px;
}

#update-student h2 {
  margin-bottom: 20px;
}

#update-student input {
  margin-bottom: 10px;
}

/*all campuses page*/

#all-campuses {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-right: 80px;
}

/*list of campuses*/
#campus-list {
  width: 700px;

  margin-top: 20px;
}
#campus-list * {
  margin-bottom: 10px;
}
#campus-list li {
  border-radius: 25px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
}

/*add campus form*/
#add-campus {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 100px;

  background-color: rgb(18, 200, 149);
  padding: 30px;
  height: fit-content;
  border-radius: 8px;
}

#add-campus-form {
  display: flex;
  flex-direction: column;
}

#add-campus-form input {
  margin-bottom: 10px;
}

#add-campus h2 {
  margin-bottom: 20px;
}

/*delete campus div*/
#delete-campus {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  height: 50px;
  width: fit-content;
}

#delete-campus button {
  height: 22px;
  margin-left: 20px;
}

#single-campus {
  height: 100%;
  margin-left: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
#campus-info * {
  margin-top: 20px;
}
#campus-info p {
  width: 800px;
}

#update-campus {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 600px;
  background-color: rgb(18, 200, 149);
  padding: 30px;
  height: fit-content;
  border-radius: 8px;
}

#update-campus input {
  margin-bottom: 10px;
}

#enrolled-students {
  margin-top: 20px;
  padding: 0px;
}

#enrolled-students li {
  margin-top: 5px;
  margin-bottom: 5px;
}
