* {
  box-sizing: border-box;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .link {
  color: antiquewhite;
  padding: 0 2rem;
  text-decoration: none;
}

.navbar .link:hover {
  color: blue;
}
