#homepage {
  height: 100vh;
  text-align: center;
}

#homepage h1 {
  margin-top: 50px;
}

#homepage img {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#links {
  display: flex;
  justify-content: space-around;
  border-top: 50px;
  text-decoration: none;
}
